<div class="container mt-5 mb-5">
    <!-- Container principal com margens superiores e inferiores, centralizando o conteúdo -->
    
    <a routerLink="" class="btn btn-sm btn-warning mb-5">
        <i class="bi bi-arrow-left"></i> Voltar 
    </a>
    <!-- Botão de "Voltar" com ícone, utilizando Bootstrap para estilização -->
    
    <h1 class="text-center">Sobre Nós</h1>
    <!-- Título da seção, centralizado -->

    <p>
        Bem-vindo ao nosso restaurante online! Criamos este site com um objetivo simples: oferecer uma maneira fácil e rápida para você escolher suas comidas favoritas e fazer o seu pedido diretamente do conforto da sua casa. 
        <br><br>
        Nosso site foi desenvolvido pensando em simplicidade e conveniência, garantindo uma experiência de uso intuitiva, mesmo para quem não está familiarizado com tecnologia. Acreditamos que uma boa refeição deve ser acessível a todos, e é por isso que trabalhamos para oferecer uma plataforma que facilite esse processo. 
        <br><br>
        Explore nossas opções e faça o seu pedido! Estamos aqui para tornar sua experiência gastronômica mais prática e agradável.
    </p>
    <!-- Parágrafo explicativo sobre o restaurante, incluindo a missão e visão do site -->
</div>
